body {
    background-color: #010003;
}

body * {
    position: absolute;
}

.viewport {
    overflow: hidden;
    height: 648px;
    width: 1152px;
}

.border {
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-image: url("../assets/images/border.png");
}

.base {
    background-color: #010003;
    background-image: url("../assets/images/0_background.png");
    width: 1600px;
    height: 900px;
}

.base div {
    width: 100%;
    height: 100%;
    background-size: contain;
}

.layer1 {
    transform-style: preserve-3d;
    /* transform: translate3d(-400px, -150px, -300px); */
    transform: translateZ(-300px);

    background-image: url("../assets/images/1_left nebula.png");
}

.layer2 {
    /* transform: translate3d(-200px, -100px, -200px); */
    transform: translateZ(-200px);

    background-image: url("../assets/images/2_right nebula.png");
}

.layer3 {
    transform: translateZ(-100px);
    background-image: url("../assets/images/3_star base.png");
}

.layer4 {
    /* transform: translateZ(100px); */
    background-image: url("../assets/images/4_star base.png");
}

.layer5 {
    transform: translateZ(30px);
    background-image: url("../assets/images/5_sun.png");
}

.layer6 {
    transform: translateZ(270px);
    background-image: url("../assets/images/6_planet.png");
}
